doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Sign Up
        link(rel="stylesheet", href="/stylesheets/SignUp.css")
        link(rel="icon", href="favion.ico")
        script(type="text/javascript", src="/javascripts/jquery.js", charset="UTF-8")
        script(type="text/javascript", src="/javascripts/SignUpClient.js", charset="UTF-8")
    body
        h1 Register
        #form_box
            #logo
            form(method="post", action="/regist")
                .inputcontainer
                    input(type="text", name="Username", placeholder="用户名")
                    span#UsernameError.error #{error.Username}
                .inputcontainer
                    input(type="text", name="Schoolid", placeholder="学号")
                    span#SchoolidError.error #{error.Schoolid}
                .inputcontainer
                    input(type="password", name="Password", placeholder="密码")
                    span#PasswordError.error #{error.Password}
                .inputcontainer
                    input(type="password", name="ConfirmPassword", placeholder="再次输入密码")
                    span#ConfirmPasswordError.error #{error.ConfirmPassword}
                .inputcontainer
                    input(type="text", name="Phone", placeholder="电话")
                    span#PhoneError.error #{error.Phone}
                .inputcontainer
                    input(type="text", name="Email", placeholder="邮箱")
                    span#EmailError.error #{error.Email}
                input(type="reset")
                input(type="submit")






                div.panel.panel-primary
                    div.panel-body
                        div.row
                            div.col-md-12.col-md-offset-4
                                h2 博客注册
                        div.row
                            div.col-md-12.col-md-offset-1
                                form.form-horizontal(role="form" name="signupForm" ng-submit="submit()" ng-controller="SignupCtrl")
                                    div.form-group
                                        label.col-md-2.control-label(for="username") 用户名
                                        div.col-md-10
                                            input.col-md-5(type="text" id="username" name="username" ng-model="user.username" placeholder='6~18位英文字母、数字或下划线，以英文字母开头' ng-pattern= "/^[a-zA-Z][a-zA-Z0-9|_]{5,17}$/" required)
                                            span(ng-show="signupForm.username.$dirty && signupForm.username.$error.required") 必填项,
                                            span(ng-show="signupForm.username.$dirty&&!signupForm.username.$valid") 格式错误,
                                            span(ng-show="signupForm.username.$dirty && !validInfo.isUsernameUnique") 用户名已被占用
                                    div.form-group
                                        label.col-md-2.control-label(for="email") 邮箱
                                        div.col-md-10
                                            input.col-md-5(type="email" id="email" name="email" ng-model="user.email"  placeholder="合法邮箱即可" required)
                                            span(ng-show="signupForm.email.$dirty && signupForm.email.$error.required") 必填项,
                                            span(ng-show="signupForm.email.$dirty&&!signupForm.email.$valid") 格式错误,
                                            span(ng-show="!validInfo.isEmailUnique") 邮箱已被占用
                                    div.form-group
                                        label.col-md-2.control-label(for="password") 密码
                                        div.col-md-10
                                            input.col-md-5(type="password" id="password" name="password" ng-model="user.password" placeholder='6~12位数字、大小写字母、中划线、下划线' ng-pattern= "/([a-zA-Z]|[0-9]|-|_){6,12}/" required)
                                            span(ng-show="signupForm.password.$dirty && signupForm.password.$error.required") 必填项,
                                            span(ng-show="signupForm.password.$dirty&&!signupForm.password.$valid") 请输入6~12位数字、大小写字母、中划线、下划线
                                    div.form-group
                                        label.col-md-2.control-label(for="repeatedPassword") 重复密码
                                        div.col-md-10
                                            input.col-md-5(type="password" id="repeatedPassword" name="repeatedPassword" ng-model="user.repeatedPassword" required)
                                            span(ng-show="signupForm.repeatedPassword.$dirty && signupForm.repeatedPassword.$error.required") 必填项,
                                            span(ng-show="!validInfo.isRepeatedPasswordValid") 密码不一致
                                    div.form-group
                                        div.col-md-offset-2.col-md-12
                                            button.btn.btn-success.btn-lg(type="submit" ng-disabled="!signupForm.$valid") 提交
                                            button.btn.btn-warning.btn-lg(type="reset") 重置
                                            a.btn.btn-default.btn-lg(ui-sref="index") 登录